<form id="delete-form" action="<%= url %>?_method=DELETE" method="POST">
    <button class="btn btn-disabled" type="submit" disabled="true">Delete</button>
</form>
<button class="unlock-toggle btn lock-btn" type="button">
    <img src="/svg/padlock.svg" aria-hidden="true" height="100%" width="100%">
</button>

